{% block brix_field %}
{% if admin and wrap %}
<span contenteditable="{{'{{'}}editMode{{'}}'}}" ng-model="widget.{{field}}" name="{{field}}"></span>
{% elseif admin %}
{{'{{'}}widget.{{field}}{{'}}'}}
{% else %}
{{text|raw}}
{%endif %}
{% endblock %}
